body {
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  height: 30px;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  padding: 5px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.container {
  width: 100%;
  padding-top: 5px;
  margin: 0 auto;
  display: flex;
  vertical-align: baseline;
}
.header-left {
  float: left;
  display: flex;
  flex: 0.2;
  justify-content: space-evenly;
}
.svg-icon {
  height: 20px;
  width: 20px;
}
.section-title {
  width: max-content;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14.25px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}
.section-title a {
  color: #000;
}
.header-right button {
  background-color: rgb(86, 123, 149);
  border: rgb(50, 104, 145);
  color: white;
  transition: all 0.6s ease 0s;
  width: max-content;
  float: left;
  display: block;
  cursor: pointer;
}

.header-right {
  float: left;
  display: flex;
  margin-right: 5px;
  width: max-content;
  flex: 0.2;
  justify-content: space-evenly;
}
.site-logo {
  margin: 0 auto;
}
.articleBody {
  display: flex;
  padding-top: 50px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.article-title {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  max-width: 600px;
}
.socialToolBar {
  border-top: 1px solid #ebebeb;
  display: flex;
  width: 600px;
  margin: 0 20px 20px;
}
.socialToolBar a {
  line-height: 65px;
  padding: 0 5px;
  display: inline;
  float: left;
  align-items: center;
  cursor: pointer;
}
.socialIcons svg {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  align-self: center;
  vertical-align: middle;
  padding: 5px;
  width: 15px;
  height: 15px;
}
.bookmark_comment {
  display: flex;
  border-radius: 100%;
  margin-top: 10px;
  width: 15px;
  height: 15px;
}
.bookmark_comment a i::before {
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  bottom: -7px;
  border-width: 6px 0 0 8px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0;
}
.bookmark_comment a i {
  height: 15px;
  margin-top: 12px;
}
.bookmark_comment a i::after {
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0 0 6px;
  bottom: -6px;
  content: "";
  display: block;
  left: 16px;
  position: absolute;
  width: 0;
}
.comment-box {
  align-items: center;
  background: transparent;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  min-width: 26px;
  min-height: 14px;
  padding: 4px;
  position: relative;
  width: auto;
}
.hero-figure {
  width: 90%;
}
.hero-figure img {
  width: 80%;
  padding-left: 150px;
  padding-right: 150px;
  cursor: pointer;
}
figcaption {
  width: 60%;
  padding-left: 145px;
}
figcaption span {
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.telescope {
  width: 100%;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.big-band p {
  margin-bottom: 0.78125rem;
  margin-top: 0;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* width: calc(100% - 40px); */
  max-width: 600px;
  color: #333;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.big-band-side {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 160px;
}
.side-p {
  margin-bottom: 0.78125rem;
  margin-top: 0;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;

  width: calc(100% - 40px);
  max-width: 600px;
  color: #333;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.editor-pick {
  width: 200px;
  height: 350px;
  margin-top: 200px;
}
.editor-pick aside {
  width: 200px;
  margin-left: 150px;
}
.editor-article {
  display: flex;
}

.editor-article h3 {
  font-size: 12px;
}

.img-title img {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.img-title h3 {
  font-size: 10px;
}

.aside-float {
  float: left;
}

.inflation {
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-left: 150px;
  width: 80%;
}
.inflation h3 {
  color: #000;
}

iframe {
  padding-top: 40px;
}

footer {
  padding-bottom: 20px;
  border-top: 1px solid #ebebeb;
  padding-top: 9px;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  font-size: 11px;
}
footer a {
  padding-inline-start: 20px;
  text-decoration: none;
  color: #333;
}
.credits {
  color: #888;
  letter-spacing: 0.01em;
  font-size: 0.8125rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}
.big-band {
  width: 600px;
  margin: 0 auto;
}
nav {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 20px;
  padding-top: 9px;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
}
.nav-header {
  display: flex;
  flex-flow: row;
  height: 45px;
  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
  margin-top: -8px;
}
.go-to-home {
  margin: 18px 0 0 auto;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}
.go-to-home a {
  color: rgb(86, 123, 149);
  text-decoration: none;
}
.nav-sections {
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  color: #333;
  width: 1200px;
  margin: 0 auto;
}
.nav-section-column {
  width: 20%;
}
.nav-section-column h3 {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  height: 25px;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase;
  width: 150px;
}
.nav-section-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font: inherit;
}
.nav-section-column li a {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
}
.subscribe {
  border-left: 1px solid rgb(226, 226, 226);
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0;
}

.subscribe-one svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 2px;
  vertical-align: middle;
}
.subscribe-two {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  white-space: nowrap;
  font-size: 11px;
}
.subscribe-two a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
  cursor: pointer;
  text-decoration: underline;
}
.subscribe-three {
  list-style: none;
  margin: 2px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid rgb(226, 226, 226);
}
.end-article-block {
  width: 600px;
  margin: 0 auto;
}
.end-article-text {
  font-size: 0.75rem;
  width: calc(100% - 60px);
  max-width: 600px;
  color: rgb(102, 102, 102);
}
.end-article-links a {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto 1em;
  color: rgb(102, 102, 102);
  text-decoration: underline;
}
.end-article-button {
  display: flex;
  margin: 1.5rem auto 2rem;
}
.end-article-button button {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: 0;
  margin-right: 50px;
  padding: 5px 0;
  text-transform: uppercase;
  transition: background-color 0.6s ease 0s;
  width: 60%;
}

.middle-focus-block {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.top-border {
  border-top: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 18px auto 0;
}
.bottom-border {
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 18px auto 0;
}
.byline-prefix {
  font-weight: 700;
  text-decoration: underline;
}
.byline-title {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}
.interactive-section {
  content: "";
  width: 1000px;
  margin: 0 auto;
}
.interactive-title {
  margin-bottom: 2px;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
}
.interactive-meta {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  color: #666;
  margin-bottom: 0;
}

.ai-img {
  z-index: 2;
}
.table-one-description {
  width: 22%;
  padding: 3px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 1px;
}
.interactive-table-text-title {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.05em;
}
.interactive-table-text-one {
  margin-top: -650px;
  z-index: 5;
  display: flex;
  flex-direction: row;
}
.interactive-table-text-two {
  margin-top: 240px;
  z-index: 5;
  display: flex;
  flex-direction: row;
}

.interactive-table img {
  height: auto;
  max-width: 90%;
}

.interactive-footer {
  margin-top: 30px;
  font-size: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  font-style: normal;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.interactive-footer::before {
  width: 60px;
  content: "";
  display: inline-block;
  height: 2px;
  margin: 0;
  background-color: #000;
}

.newsletters-section {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  padding-bottom: 20px;
}
.suggestions-title {
  border-top: 2px solid rgb(0, 0, 0);
  width: 75%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
.suggestion-text {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  width: 80%;
}
.dont-show-text {
  text-align: right;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgb(102, 102, 102);
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.popular-title {
  border-top: 2px solid rgb(0, 0, 0);
  width: 25%;
  margin-left: 10px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  padding-top: 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.suggestions {
  width: 75%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.suggestions-columns {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}
.popular {
  width: 25%;
  margin-left: 10px;
}

.popular-items {
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0.9px;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
