body {
  margin: 0;
  /* font-family: ""; */
}

a {
  text-decoration: none;
}

header {
  height: 30px;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  padding: 5px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.container {
  width: 100%;
  padding-top: 5px;
  margin: 0 auto;
  display: flex;
  vertical-align: baseline;
}

.header-left {
  float: left;
  display: flex;
  flex: 0.2;
  justify-content: space-evenly;
  /* align-items: center; */
}
.svg-icon {
  height: 20px;
  width: 20px;
}

.section-title {
  width: max-content;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14.25px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}
.section-title a {
  color: #000;
}
.header-right button {
  background-color: rgb(86, 123, 149);
  border: rgb(50, 104, 145);
  color: white;
  transition: all 0.6s ease 0s;
  width: max-content;
  float: left;
  display: block;
  cursor: pointer;
}

.header-right {
  float: left;
  display: flex;
  /* padding: 5px; */
  margin-right: 5px;
  width: max-content;
  flex: 0.2;
  justify-content: space-evenly;
  /* align-items: center; */
}
.site-logo {
  margin: 0 auto;
}
.articleBody {
  display: flex;
  padding-top: 50px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.article-title {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  max-width: 600px;
}
.socialToolBar {
  border-top: 1px solid #ebebeb;
  display: flex;
  /* flex-direction: row; */
  width: 600px;
  margin: 0 20px 20px;
  /* align-items: center; */
  /* max-width: 600px; */
}
.socialToolBar a {
  line-height: 65px;
  padding: 0 5px;
  /* color: white; */
  display: inline;
  float: left;
  /* transition: all 0.5s; */
  align-items: center;
  cursor: pointer;
}
.socialIcons {
  /* margin-left: 350px; */
}
.socialIcons svg {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  align-self: center;
  vertical-align: middle;
  padding: 5px;
  width: 15px;
  height: 15px;
  /* width: 15px; */
  /* height: 15px; */
  /* max-width: fit-content; */
  /* justify-self: center;
  text-align: center; */
}
.bookmark_comment {
  display: flex;
  border-radius: 100%;
  margin-top: 10px;
  width: 15px;
  height: 15px;
}
.bookmark_comment a i::before {
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  bottom: -7px;
  border-width: 6px 0px 0px 8px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0px;
}
.bookmark_comment a i {
  height: 15px;
  margin-top: 12px;
}
.bookmark_comment a i::after {
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
  bottom: -6px;
  content: "";
  display: block;
  left: 16px;
  position: absolute;
  width: 0px;
}
.comment-box {
  align-items: center;
  background: transparent;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  min-width: 26px;
  min-height: 14px;
  padding: 4px;
  position: relative;
  width: auto;
}
.hero-figure {
  width: 90%;
}
.hero-figure img {
  width: 80%;
  padding-left: 150px;
  padding-right: 150px;
  cursor: pointer;
}
figcaption {
  width: 60%;
  padding-left: 145px;
}
figcaption span {
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.big-band p {
  margin-bottom: 0.78125rem;
  margin-top: 0;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  max-width: 600px;
  color: #333;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
footer {
  padding-bottom: 20px;
  border-top: 1px solid #ebebeb;
  padding-top: 9px;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  font-size: 11px;
}
footer a {
  padding-inline-start: 20px;
  text-decoration: none;
  color: #333;
}
.credits {
  color: #888;
  letter-spacing: 0.01em;
  font-size: 0.8125rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}
.big-band {
  width: 600px;
  margin: 0 auto;
}
nav {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 20px;
  padding-top: 9px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
}
.nav-header {
  display: flex;
  flex-flow: row;
  height: 45px;
}
.go-to-home {
  margin: 18px 0px 0px auto;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}
.go-to-home a {
  color: rgb(86, 123, 149);
  text-decoration: none;
}
.nav-sections {
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  /* text-decoration: none; */
  color: #333;
  width: 1200px;
  margin: 0 auto;
}
.nav-section-column {
  width: 20%;
}
.nav-section-column h3 {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  height: 25px;
  line-height: 15px;
  margin: 0px;
  text-transform: uppercase;
  width: 150px;
}
.nav-section-column ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font: inherit;
}
.nav-section-column li a {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
}
.subscribe {
  border-left: 1px solid rgb(226, 226, 226);
  /* flex: 1 1 0%; */
  padding-left: 15px;
}
.subscribe-one {
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.subscribe-one a {
  color: rgb(0, 0, 0);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0px;
}

.subscribe-one svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 2px;
  vertical-align: middle;
}
.subscribe-two {
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
  font-size: 11px;
}
.subscribe-two a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
  cursor: pointer;
  text-decoration: underline;
}
.subscribe-three {
  list-style: none;
  margin: 2px 0px 0px;
  padding: 10px 0px 0px;
  border-top: 1px solid rgb(226, 226, 226);
}
